.nav_menu_toggler_icon {
  cursor: pointer;
  position: absolute;
  right: 3%;
  top: 3%;
  background: none;
  color: #fff;
  font-size: 25px;
  z-index: 150;
  display: none;
  border: none;
}
.nav_menu_toggler_icon span {
  padding: 2px 7px;
  border-radius: 8px;
}
.nav_menu_toggler_icon:active {
  color: #ddd;
}
.container_help {
  text-align: center;
  margin-top: 150px;
}

@media only screen and (max-width: 768px) {
	#header {
	  padding: 10px 0;
	}
	.nav_menu_toggler_icon {
	  display: block;
	}
	.menu-container {
	  background: #fc636b;
	}
	.menu-container .manu{
	  display: none;
	}
	#header nav ul {
	  display: block;
	  padding-top: 20px;
	}
	.menu-container .manu ul li {
	  float: none;
	  display: block;
	  margin-bottom: 12px;
	}
	#header .menu-container ul li.inline {
	  display: inline-block;
	  padding-top: 5px;
	}
	.nav_menu_toggler_icon {
	  outline: 0;
	}
	.nav_menu_toggler_icon span {
	  outline:0;
	}
	.manu li .have_dropdown {
	  background-color: transparent;
	  display: none;
	  position: relative;
	}
	#header .nav-menu ul .sub-menu li {
		width: 100%;
		margin: 15px 0;
	}
	body #header .nav-menu ul .sub-menu {
	  position: relative;
	  max-width: 350px;
	  margin:0 auto;
	}
	.menu-container .manu ul li .have_dropdown li a{
	  display: block;
	  float: none;
	  text-align:center;
	  width: 100%;
	}
	.menu-container .manu ul li .have_dropdown_n_style li {
	  width: 100%;
	  float: none;
	}
	.menu-container .manu ul li .have_dropdown_n_style li a {
	  float: none;
	}
	.menu-container .manu ul li .have_dropdown_n_style {
	  position: relative;
	}
}
